<section class="about" id="about-section">
  <div class="about-container">
    <h1 class="about-container-header color-navy">About Us</h1>
    <div class="container">
      <p id="about-description">
        <strong>Unity</strong> Trust Business Services Primary Co-Operative Ltd.
        is a company working in internet service providers located in Fort
        Beaufort, Eastern Cape, South Africa .
        <br />
        <strong>Here</strong> at Unity Trust we specialise in many aspects of
        internet services rendering to our clients at the very best , we also
        offer special legal documentation services of all type .
      </p>
    </div>
  </div>
  <div class="about-container">
    <h1 class="about-container-header color-navy">Our Staff</h1>
    <div class="container flex-r-se">
      <app-card></app-card>
    </div>
  </div>
</section>
