/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;700&display=swap');

:root {
  --black: rgb(1, 1, 1);
  --secondary-black: rgb(23, 22, 22);
  --dark: rgb(83, 85, 85);
  --green: rgb(140, 198, 63);
  --lightgreen: rgb(150, 203, 80);
  --primaryred: rgb(207, 56, 71);
  --amber: rgb(242, 225, 77);
  --amberdark: rgb(168, 157, 53);
  --grey: rgb(247, 246, 249);
  --red: rgb(227, 61, 79);
  --lightred: rgb(255, 166, 176);
  --blue: rgb(82, 129, 184);
  --truedarkgrey: rgb(82, 82, 82);
  --darkgrey: rgb(190, 191, 191);
  --box-shadow: 0px 1.8px 1.8px rgba(2, 1, 1, 0.143);
  --fade-lightgreen: rgb(245, 250, 239);
  --white-transparent: rgba(255, 255, 255, 0.76);
  --darkfaint: rgba(19, 22, 22, 0.513);
  --border: 0.12px solid var(--grey);
  --roboto: 'Roboto', sans-serif;
  --light-border: 1.9px solid var(--grey);
  --facebook-blue: rgb(59, 89, 152);
  --twitter-blue: rgb(0, 162, 255);
  --instagram-purple: rgb(138, 58, 185);
  --spotify-green: rgb(29, 185, 84);
  --soundcloud-orange: rgb(255, 119, 0);
  --itunes-purple: rgb(234, 76, 192);
  --youtube-red: rgb(255, 0, 0);
  --grey2: rgb(124, 124, 124);
  --titilliumweb: 'Titillium Web', sans-serif;
  --inter: 'Inter', sans-serif;
}

html {
  --primarycolour: var(--amber);
  color: var(--primarycolour);
  background-color: var(--black);
  font-size: 14.8px;
  height: 100%;
  width: 100%;
  font-smooth: auto;
  font-family: 'Titillium Web', sans-serif;
}

* {
  --defaultfont: var(--titilliumweb);
  scroll-behavior: smooth;
  letter-spacing: .036rem;
  font-weight: 500;
  outline-color: transparent;
  background-color: var(--black);
  font-family: 'Titillium Web', sans-serif;
  transition: all 275ms ease;
  -webkit-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  -ms-transition: all 275ms ease;
  -moz-transition: all 275ms ease;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: smooth;
}

.glows {
  -webkit-animation: glow 20s infinite;
  animation: glow 20s infinite;
}

@keyframes glow {
  0% {
    color: rgb(219, 149, 35) var(--green)
  }

  20% {
    color: rgb(237, 27, 38) var(--lightgreen)
  }

  40% {
    color: rgb(0, 0, 0) var(--blue)
  }

  60% {
    color: rgb(207, 56, 71) var(--lightgreen)
  }

  80% {
    color: var(--blue)
  }

  100% {
    color: rgb(255, 116, 13) var(--red)
  }
}

.border-glows {
  -webkit-animation: border-glow 20s infinite;
  animation: border-glow 20s infinite;
}

@keyframes border-glow {
  0% {
    border-color: rgba(219, 149, 35) var(--green)
  }

  20% {
    border-color: rgb(237, 27, 38) var(--lightgreen)
  }

  40% {
    border-color: rgb(0, 0, 0) var(--blue)
  }

  60% {
    border-color: rgb(207, 56, 71) var(--lightgreen)
  }

  80% {
    border-color: var(--blue)
  }

  100% {
    border-color: rgb(255, 116, 13) var(--red)
  }
}

.background-glows {
  -webkit-animation: background-glow 20s infinite;
  animation: background-glow 30s infinite;
}

@keyframes background-glow {
  0% {
    background-color: var(--green)
  }

  20% {
    background-color: var(--lightgreen)
  }

  40% {
    background-color: var(--blue)
  }

  60% {
    background-color: var(--red)
  }

  80% {
    background-color: var(--amber)
  }

  100% {
    background-color: var(--lightgreen)
  }
}

html {
  font-size: 14.8px;
}

html,
body {
  color: var(--amber);
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--black);
}

input[type="checkbox"] {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.brand-label {
  font-family: var(--roboto);
  font-weight: 500;
}

.brand-label:first-of-type {
  color: var(--primarycolour);
}

.brand-label:last-of-type {
  color: var(--black);
}

.float-left {
  float: left;
  width: auto
}

.color-primary {
  color: var(--primarycolour);
}

.color-white {
  color: var(--white);
}

.color-grey {
  color: var(--greys);
}

.color-green {
  color: var(--green);
}

.color-amber {
  color: var(--amber);
}

.color-red {
  color: var(--red);
}

.color-blue {
  color: var(--blue);
}

.color-grey {
  color: var(--grey);
}

.color-darkgrey {
  color: var(--darkgrey);
}

.color-dark {
  color: var(--dark);
}

.color-black {
  color: var(--black);
}

.color-facebook-blue {
  color: var(--facebook-blue);
}

.bg-facebook-blue {
  color: white;
  background-color: var(--facebook-blue);
}

.color-twitter-blue {
  color: var(--twitter-blue);
}

.bg-twitter-blue {
  color: white;
  background-color: var(--twitter-blue);
}

.color-instagram-purple {
  color: var(--instagram-purple);
}

.bg-instagram-purple {
  color: white;
  background-color: var(--instagram-purple);
}

.bg-instagram {
  color: white;
  background: linear-gradient(45deg, rgb(138, 58, 185), rgb(255, 20, 20), var(--amber));
}

.color-spotify-green {
  color: var(--spotify-green);
}

.bg-spotify-green {
  color: white;
  background-color: var(--spotify-green);
}

.color-soundcloud-orange {
  color: var(--soundcloud-orange);
}

.bg-soundcloud-orange {
  color: white;
  background-color: var(--soundcloud-orange);
}

.color-itunes-purple {
  color: var(--itunes-purple);
}

.bg-itunes-purple {
  color: white;
  background-color: var(--itunes-purple);
}

.color-youtube-red {
  color: var(--youtube-red);
}

.bg-youtube-red {
  color: white;
  background-color: var(--youtube-red);
}

.border-primary {
  border-color: var(--primarycolour) !important;
}

.border-green {
  border-color: var(--green);
}

.border-amber {
  border-color: var(--amber);
}

.border-red {
  border-color: var(--red);
}

.border-blue {
  border-color: var(--blue);
}

.border-transparent {
  border-color: transparent !important;
}

.border-grey {
  border-color: var(--grey);
}

.border-darkgrey {
  border-color: var(--darkgrey);
}

.border-black {
  border-color: var(--black);
}

.background-white {
  background-color: var(--white);
}

.background-green {
  background-color: var(--green);
}

.background-amber {
  background-color: var(--amber);
}

.background-red {
  background-color: var(--red);
}

.background-blue {
  background-color: var(--blue);
}

.background-grey {
  background-color: var(--grey);
}

.background-darkgrey {
  background-color: var(--darkgrey);
}

.background-black {
  background-color: var(--black);
}

.background-primary {
  background-color: var(--primarycolour);
}

.text-xxxlarge {
  font-size: 4.1rem;
}

.text-xxlarge {
  font-size: 2.1rem;
}

.text-xlarge {
  font-size: 1.8rem;
}

.text-large {
  font-size: 1.6rem;
}

.text-default {
  font-size: 1.2rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: .9rem;
}

.text-xsmall {
  font-size: .7rem;
}

.p-default {
  padding: 4.5px;
}

.p-top-bottom-default {
  padding: 4.5px 0;
}

.p-top-default {
  padding-top: 4.5px;
}

.p-left-default {
  padding-left: 4.5px;
}

.p-right-default {
  padding-right: 4.5px;
}

.p-bottom-default {
  padding-bottom: 4.5px;
}

.p-left-right-default {
  padding: 0 4.5px;
}

.p-left-default {
  padding-left: 0 4.5px;
}

.p-top-bottom-title {
  padding: 6.5px 0;
}

.m-top-bottom-default {
  margin: 6.9px 0
}


.m-left-right-default {
  margin: 0 6.9px
}

.m-default {
  margin: 3 .9px
}


.no-padding {
  padding: 0 !important;
}

.font-roboto {
  font-family: var(--roboto);
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.material-icons {
  margin-right: 1.5px;
}

@media (max-width: 768px) {
  .md-hide {
    display: none;
  }

  .md-hide.show {
    display: block;
  }

  .break-md {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .sm-hide {
    display: none;
  }

  .sm-hide.show {
    display: block;
  }
}
