.artist-modal-overlay {
  display: flex;
  position: fixed;
  background-color: var(--darkfaint);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  z-index: 9;

  .artist-modal-container {
    width: 100%;
    max-width: 80vw;
    max-height: 60vh;
    margin: auto;
    background-color: var(--black);
    height: 60vh;

    .artist-modal-header {
      padding: 15px;
      background-color: var(--primarycolour);
      color: var(--black);
      display: flex;
      font-size: 2rem;

      .artist-modal-icon {
        margin: 0 0 0 15px;
        cursor: pointer;
        display: grid;
        place-content: center;
        font-size: 2rem;
        background-color: var(--amber);

        i {
          background-color: var(--amber);
        }
      }

      .artist-modal-header-title {
        width: 100%;
        text-align: center;
        margin: 0 0 0 27.53px;
        font-weight: 600;
        background-color: var(--amber);
      }
    }

    .artist-modal-body {
      overflow: hidden;
      display: flex;
      align-items: center;
      height: 60vh;

      .artist-modal-left {
        width: 35vw;
        display: flex;
        flex-flow: column;

        .artist-modal-banner {
          display: flex;
          flex-flow: row;
          background-color: #00000060;
          color: var(--primarycolor);

          .artist-modal-banner-icon {
            color: var(--amber);
            background-color: #00000080;
            border-radius: 50%;
          }

          .artist-modal-details {
            display: grid;
            place-content: cetner;
            position: relative;

            img {
              height: 60vh;
            }

            a {
              position: absolute;
              background: linear-gradient(45deg, transparent, var(--black));
              width: 100%;
              padding: 1em;
              bottom: 0;
              left: 0;
              margin: unset;
            }
          }
        }
      }

      .artist-modal-details {
        width: 100%;

        .artist-modal-img {
          height: 60vh;
          object-fit: cover;
          object-position: center;
          width: 100%;
        }

        .artist-modal-details-link {
          font-size: 2rem;
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 1em 0.5em;
          background: linear-gradient(0deg, #000000b0, transparent);
          color: var(--amber);
          width: 100%;
          text-align: center;
        }
      }

      .artist-modal-details-content {
        width: 100%;
        padding: 17px 25px;
        background-color: var(--black);
        font-size: 1.1rem;
        display: flex;
        flex-wrap: wrap;

        .artist-modal-details-content-icon {
          cursor: pointer;
          margin: .5rem;
          padding: 3px 5.5px;
          font-size: 1.5rem;
          text-decoration: none;

          .artist-modal-details-content-icon-text {
            font-family: var(--defaultfont);
            font-style: normal;
            font-weight: 600;
            padding: 0 8.35px;
            font-size: 1.45rem;
            color: var(--grey);
          }
        }
      }

      .artist-modal-actions {
        text-align: center;
        padding: 5px;
      }

      .artist-modal-title {
        padding: 0 25px;
        font-weight: 600;
        font-size: 1.52rem;
        width: 100%;
        color: var(--primarycolour);
      }

      .artist-modal-artistry-description {
        color: var(--white);
        padding: 17px 25px;
        font-size: 1.2rem;
      }

      .artist-modal-artistry {
        // text-align: center;
        padding: 17px 1.9rem;

        .artist-modal-artistry-thumbnail {
          cursor: pointer;
          width: 33.33%;
          max-width: 256px;
          // min-width: 106.66px;
          max-height: 256px;
          // min-height: 106.66px;
          height: auto;
          // height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.artist-modal-body-right {
  display: flex;
  flex-flow: column !important;
  width: 45vw;
  height: 55vh;
  margin-top: auto;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 2.5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.artist-modal-left {
  width: 35vw;
  max-height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;

  .artist-modal-banner {
    display: flex;
    flex-flow: row;
    background-color: #00000060;
    color: var(--primarycolor);
    position: absolute;
    top: 0;
    width: 100%;

    .artist-modal-banner-icon {
      color: var(--amber);
      background-color: transparent;
      border-radius: 50%;

      i {
        background-color: #00000060;
        color: var(--amber);
        padding: .25em;
        line-height: 1;
        font-size: 1.2rem;
      }
    }

    .artist-modal-details {
      display: grid;
      place-content: cetner;
      position: relative;

      img {
        height: 70vh;
      }

      .artist-modal-details-link {
        position: absolute;
        background: linear-gradient(0deg, transparent, var(--black));
        width: 100%;
        padding: 1em;
        bottom: 0;
        left: 0;
        margin: unset;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 750px) {
  .artist-modal-container {
    height: 80vh !important;
    max-height: 80vh !important;

    .artist-modal-header {
      padding: 15px 10px !important;

      .artist-modal-header-title {
        margin: unset !important;
      }
    }

    .artist-modal-body {
      flex-flow: column !important;
      height: 72vh !important;
      overflow: scroll !important;
      overflow-x: hidden !important;

      .artist-modal-left {
        width: 100% !important;
        position: unset !important;

        .artist-modal-details {

          .artist-modal-img {
            height: 30vh !important;
          }

          .artist-modal-details-link {
            font-size: 1.85em !important;
            padding: 1em 0 !important;
            background: linear-gradient(0deg, black, transparent) !important;
          }
        }
      }

      .artist-modal-body-right {
        width: 100% !important;
        height: unset !important;
        overflow: unset !important;
      }

      .artist-modal-artistry {
        display: flex;
        flex-flow: column;
        align-items: center;

        .artist-modal-artistry-thumbnail {
          width: 100% !important;
        }
      }
    }
  }
}
