<div class="contact-form background-bs-white color-darknavy">
  <div class="contact-form-header">Contact Us</div>
  <div class="contact-form-subheader">we would like to hear from you .</div>
  <div class="contact-form-body">
    <input type="text" name="text" placeholder="Name" />
    <input type="email" name="email" placeholder="Email" />
    <textarea
      cols="15"
      rows="5"
      name="comment"
      placeholder="Comment"
    ></textarea>
    <div class="contact-form-footer">
      <app-button class="w-100 btn-primary w-100" (click)="sendData()"
        >Submit</app-button
      >
    </div>
  </div>
</div>
