  .talent-page-section {
    min-height: 50vh;
    width: 100%;
    background-color: var(--black);

    .talent-page-section-heading {
      width: 100%;
      font-size: 3.5rem;
      text-align: center;
      padding: 3em 0 1em 15px;
      color: var(--primarycolour);
    }

    .talent-page-section-content {
      margin: auto;
      padding: 0 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      max-width: 1315px;
      width: 100%;
    }
  }
