/* You can add global styles to this file, and also import other style files */

// bootstrap-icons global import
@import url("./assets/bootstrap-icons/font/bootstrap-icons.scss");

// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap");

:root {
  --primarydark: rgb(20, 20, 20);
  --primarygray: rgb(80, 80, 80);
  --lightgray: rgb(184, 184, 184);
  --color: var(--darknavy);
  --primarynavy: var(--lightnavy);
  --black: #171616;
  --white: rgb(255, 255, 255);
  --primaryblue: rgb(0, 133, 255);
  --bg-grey: #e4e4e4bd;
  --dark: rgb(83, 85, 85);
  --green: rgb(140, 198, 63);
  --lightnavy: rgb(2, 0, 97);
  --darknavy: rgb(0, 11, 31);
  --darknavy-trans: rgba(0, 11, 31, 0.5);
  --lightgreen: rgb(150, 203, 80);
  --darkgreen: rgb(57, 221, 42);
  --darklime: rgb(75, 219, 62);
  --primaryred: rgb(207, 56, 71);
  --amber: rgb(231, 199, 102);
  --grey: rgb(247, 246, 249);
  --red: rgb(227, 61, 79);
  --lightred: rgb(255, 166, 176);
  --truedarkgrey: rgba(82, 82, 82, 0.61);
  --darkgrey: rgb(190, 191, 191);
  --box-shadow: 0px 1.8px 1.8px rgba(2, 1, 1, 0.143);
  --fade-lightgreen: rgb(245, 250, 239);
  --white-transparent: rgba(255, 255, 255, 0.76);
  --darkfaint: rgba(19, 22, 22, 0.513);
  --border: 0.12px solid var(--grey);
  --roboto: "Roboto", sans-serif;
  --light-border: 1.9px solid var(--grey);
  --google-gradient: linear-gradient(#db4437, #4285f4, #f4b400, #0f9d58);
  --facebook-blue: rgb(7, 4, 177);
  --off-da-zoinkeys: #654123;


  /* ilusstration1 color pallete */
  --blueywhite: rgb(234, 243, 250);
  --blueywhiteop: rgba(234, 243, 250, 0.3);
  --orange-faint: #fa9746;
  --orange-dark: rgb(236, 123, 45);
  --l-navy: #3d4da4;
  --blue: #4f5aba;
  --textnavy: var(--darknavy);
  --navy: rgb(61, 77, 165);

  // imported goolge fonts

  --montserrat: "Montserrat",
    sans-serif;
  --museo: "Museo Sans",
    sans-serif;
  --titilliumweb: "Titillium Web",
    sans-serif;
  --inter: "Inter",
    sans-serif;

  // box shadows ---

  --box-shadow-blue: 0px 1.8px 1.8px #4f5aba60;

}

html {
  --primarycolour: var(--orange-dark);
  color: var(--textnavy);
  font-size: 14.8px;
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--inter);
  margin: 0;
  background-color: var(--blueywhite);
}

@-webkit-keyframes loadbar {
  from {
    width: 1%;
  }

  to {
    width: 100%;
  }
}

@keyframes loadbar {
  from {
    width: 1%;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes loader-screen {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

@keyframes loader-screen {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-animation: loader-screen 1.5s 2.5s alternate forwards ease-out;
  animation: loader-screen 1.5s 2.5s alternate forwards ease-out;
}

.loader .loader-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.loader .loader-content .loader-content-outerbar {
  background-color: var(--darknavy);
  height: 5vh;
  border: 2.5px var(--darknavy);
  border-radius: 5px;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0.24rem;
}

.loader .loader-content .loader-content-outerbar .loader-content-innerbar {
  background-color: var(--white);
  height: 4vh;
  width: 1%;
  -webkit-animation: loadbar 2.5s alternate forwards ease-out;
  animation: loadbar 2.5s alternate forwards ease-out;
}

* {
  letter-spacing: 0.034rem;
  font-family: var(--roboto);
  font-weight: 500;
  outline-color: transparent;
  transition: all 175ms ease;
  -webkit-transition: all 175ms ease;
  -o-transition: all 175ms ease;
  -ms-transition: all 175ms ease;
  -moz-transition: all 175ms ease;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  image-rendering: smooth;
}

.glows {
  -webkit-animation: glow 20s infinite;
  /* Safari 4.0 - 8.0 */
  animation: glow 20s infinite;
}

@-webkit-keyframes glow {
  0% {
    color: #db9523;
  }

  20% {
    color: #ed1b26;
  }

  40% {
    color: black;
  }

  60% {
    color: #cf3847;
  }

  80% {
    color: var(--blue);
  }

  100% {
    color: #ff740d;
  }
}

@keyframes glow {
  0% {
    color: #db9523;
  }

  20% {
    color: #ed1b26;
  }

  40% {
    color: black;
  }

  60% {
    color: #cf3847;
  }

  80% {
    color: var(--blue);
  }

  100% {
    color: #ff740d;
  }
}

.border-glows {
  -webkit-animation: border-glow 20s infinite;
  /* Safari 4.0 - 8.0 */
  animation: border-glow 20s infinite;
}

@-webkit-keyframes border-glow {
  0% {
    border-color: #db9523;
  }

  20% {
    border-color: #ed1b26;
  }

  40% {
    border-color: black;
  }

  60% {
    border-color: #cf3847;
  }

  80% {
    border-color: var(--blue);
  }

  100% {
    border-color: #ff740d;
  }
}

@keyframes border-glow {
  0% {
    border-color: #db9523;
  }

  20% {
    border-color: #ed1b26;
  }

  40% {
    border-color: black;
  }

  60% {
    border-color: #cf3847;
  }

  80% {
    border-color: var(--blue);
  }

  100% {
    border-color: #ff740d;
  }
}

.background-glows {
  -webkit-animation: background-glow 20s infinite;
  animation: background-glow 30s infinite;
}

@-webkit-keyframes background-glow {
  0% {
    background-color: var(--green);
  }

  20% {
    background-color: var(--lightgreen);
  }

  40% {
    background-color: var(--blue);
  }

  60% {
    background-color: var(--red);
  }

  80% {
    background-color: var(--amber);
  }

  100% {
    background-color: var(--lightgreen);
  }
}

@keyframes background-glow {
  0% {
    background-color: var(--green);
  }

  20% {
    background-color: var(--lightgreen);
  }

  40% {
    background-color: var(--blue);
  }

  60% {
    background-color: var(--red);
  }

  80% {
    background-color: var(--amber);
  }

  100% {
    background-color: var(--lightgreen);
  }
}

.uptodown {
  -webkit-animation: uptodown 2s infinite alternate forwards ease-in-out;
  animation: uptodown 2s infinite alternate forwards ease-in-out;
}

@-webkit-keyframes uptodown {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes uptodown {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

html {
  font-size: 14.8px;
}

html,
body {
  color: var(--black);
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--grey);
}

input[type="checkbox"] {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.brand-label {
  font-family: var(--roboto);
}

.brand-label:first-of-type {
  color: var(--primarycolour);
}

.brand-label:last-of-type {
  color: var(--black);
}

.float-left {
  float: left;
  width: auto;
}

// COLORS SECTION

.color-dark {
  color: var(--darknavy);
}

.color-white {
  color: #ffffff;
}

.color-primary {
  color: var(--primarycolour);
}

.color-secondary {
  color: var(--darknavy-trans);
}

.color-green {
  color: var(--green);
}

.color-amber {
  color: var(--amber);
}

.color-red {
  color: var(--red);
}

.color-blue {
  color: var(--blue);
}

.color-grey {
  color: var(--grey);
}

.color-darkgrey {
  color: var(--darkgrey);
}

.color-dark {
  color: var(--dark);
}

.color-black {
  color: var(--black);
}

.gold {
  color: #ffd700;
}

// BORDERS SECTION

.border-primary {
  border-color: var(--primarycolour) !important;
}

.border-green {
  border-color: var(--green);
}

.border-amber {
  border-color: var(--amber);
}

.border-red {
  border-color: var(--red);
}

.border-blue {
  border-color: var(--primaryblue);
}

.border-transparent {
  border-color: transparent !important;
}

.border-grey {
  border-color: var(--grey);
}

.border-darkgrey {
  border-color: var(--darkgrey);
}

.border-black {
  border-color: var(--black);
}

// BACKGROUND SECTION

.background-primblue {
  background-color: var(--primaryblue);
}

.background-clear-white {
  background-color: #ffffff;
}

.background-white {
  background-color: var(--bs-white);
}

.background-green {
  background-color: var(--green);
}

.background-amber {
  background-color: var(--amber);
}

.background-red {
  background-color: var(--red);
}

.background-blue {
  background-color: var(--primaryblue);
}

.background-blue:hover {
  -webkit-transform: translateY(-2.5px);
  transform: translateY(-2.5px);
  color: var(--white);
  -webkit-transition: 1s;
  transition: 1s;
}

.background-grey {
  background-color: var(--grey);
}

.background-darkgrey {
  background-color: var(--darkgrey);
}

.background-black {
  background-color: var(--black);
}

.background-primary {
  background-color: var(--primarycolour);
}

.background-navy {
  background-color: var(--navy);
}

// TEXT SIZE SECTION

.text-xxxlarge {
  font-size: 4.1rem;
}

.text-xxlarge {
  font-size: 2.1rem;
}

.text-xlarge {
  font-size: 1.8rem;
}

.text-large {
  font-size: 1.6rem;
}

.text-default {
  font-size: 1.2rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1rem;
}

.text-xsmall {
  font-size: 0.7rem;
}

// PADDING SECTION

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p-default {
  padding: 4.5px;
}

.p-top-bottom-default {
  padding: 4.5px 0;
}

.p-left-right-default {
  padding: 0 4.5px;
}

.p-left-default {
  padding-left: 0 4.5px;
}

.p-top-bottom-title {
  padding: 6.5px 0;
}

.m-top-bottom-default {
  margin: 6.9px 0;
}

.no-padding {
  padding: 0;
}

.font-roboto {
  font-family: var(--roboto);
}

// FONT WEIGHT SIZES SECTION

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.vh100 {
  height: 100vh;
}

.vh50 {
  height: 50vh;
}

.vh20 {
  height: 20vh;
}

.height-100 {
  height: 100vh;
  padding-top: 4rem;
}

.s60 {
  width: 60%;
  height: 100%;
}

.s50 {
  width: 50%;
  height: 100%;
}

.s40 {
  width: 50%;
  height: 100%;
}

.height-90 {
  height: 90vh;
}

.height-80 {
  height: 80vh;
}

.flex-r-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-r-se {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-r-a-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-r-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
}

.material-icons {
  margin-right: 1.5px;
}

.overflow-x-scroll {
  overflow-x: scroll;
  overflow-y: unset;
}

.flex-row {
  display: flex;
  flex-flow: row !important;
}

@media (max-width: 768px) {
  .md-hide {
    display: none;
  }

  .md-hide.show {
    display: block;
  }

  .break-md {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .sm-hide {
    display: none;
  }

  .sm-hide.show {
    display: block;
  }
}

/* landing animtion */
@-webkit-keyframes ill {
  from {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ill {
  from {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes main-ad {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes main-ad {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes sub-ad {
  from {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes sub-ad {
  from {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes span {
  from {
    opacity: 0;
  }

  from {
    opacity: 1;
  }
}

@keyframes span {
  from {
    opacity: 0;
  }

  from {
    opacity: 1;
  }
}

@-webkit-keyframes button {
  from {
    color: transparent;
    background-color: transparent;
  }

  from {
    color: var(--white);
    background-color: var(--navy);
  }
}

@keyframes button {
  from {
    color: transparent;
    background-color: transparent;
  }

  from {
    color: var(--white);
    background-color: var(--navy);
  }
}

/* scroll-based animation */
@-webkit-keyframes anim-top {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-top {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes anim-left {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-left {
  from {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes anim-right {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-right {
  from {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
