<div class="navbar">
  <div class="navbar-container">
    <img src="./assets/img/logo2.png" alt="" class="navbar-img" />
    <div class="navbar-ham bi bi-list" (click)="shownav()"></div>
    <div class="navbar-content" id="navbar-content">
      <a class="navbar-item bi bi-x close" (click)="closenav()" id="close-btn"></a>
      <a class="navbar-item" href="#" routerLinkActive="active">Who We Be</a>
      <a class="navbar-item" href="#talent" routerLinkActive="active">Talent</a>
      <a class="navbar-item" href="#latest-release" routerLinkActive="active"
        >Fun Hub</a
      >
      <a class="navbar-item">Book us</a>
    </div>
  </div>
</div>
