.loading {
  display: grid;
  place-content: center;
  background-color: var(--blueywhite);
  color: var(--darknavy);
  height: 100vh;
  width: 100%;
  position: fixed;
  animation: to-left .5s 3s forwards ease-in-out alternate;
}

.loading-center {
  display: flex;
  flex-flow: column;
  max-width: 30rem;
  padding: 2rem;
  align-items: center;
  animation: dis-off 1s 1.5s forwards ease-in;
}

.loading-center h1 {
  font-size: 7rem;
  margin-bottom: 1.2rem;
}

.loading-center-outer {
  height: 5vh;
  background-color: var(--darknavy);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.loading-center-outer-inner {
  height: 5vh;
  background-color: var(--blueywhite);
  width: 1%;
  animation: loadbar 1.8s forwards alternate ease-in;
  margin: auto 0;
}

@keyframes dis-off {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes loadbar {
  100% {
    width: 99%;
  }
}

@keyframes to-left {
  to {
    position: absolute;
    left: 100vw;
  }
}
