<section class="welcome">
  <section class="welcome-background"></section>
  <section class="welcome-text">
    <blockquote>cc internet café</blockquote>
    <h1>Unity Trust</h1>
    <p>
      internet service rendering at its very
      <span title="excellence, superoity !">best</span> !
    </p>
    <a href="" id="chevron-about" class="chevron background-navy color-white">
      Contact Us
    </a>
    <a
      href="#contact-us"
      class="color-dark text-decoration-none m-2 center-chevron-flow uptodown"
      ><i class="bi bi-chevron-down"></i
    ></a>
  </section>
</section>
